<%- include('partials/header') -%> 

<h1> <%= postTitle %> </h1>
<p>  <%= postContent %> </p>

<button type="submit"  name="button" class="btn btn-lg"><a href="/"><strong>Home</strong></a></button>



<%- include('partials/footer') -%> 